:root {
  color-scheme: light;
}

.hidden {
    display: none;
  }
  #chat-widget-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    flex-direction: column;
  }
  #chat-popup {
    height: 70vh;
    max-height: 70vh;
    transition: all 0.3s;
    overflow: hidden;
  }

  #chat-popup h1,h2,h3,h4,h5 {
    font-size: initial !important;
    font-weight: bold !important;
  }

  #chat-popup ul {
    list-style: circle;
    margin-left: 15px;
  }

  #chat-popup ol {
    list-style: decimal;
    margin-left: 15px;
  }

  @media (max-width: 768px) {
    #chat-popup {
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      max-height: 100%;
      border-radius: 0;
    }
  }

.rcw-loader-dots {
    animation: bounced .5s ease infinite alternate;
    background: #000;
    border-radius: 50%;
    display: inline-block;
    height: 3px;
    margin-right: 2px;
    width: 3px;
}

.rcw-loader-dots:first-child {
    animation-delay: .2s;
}

.rcw-loader-dots:nth-child(2) {
    animation-delay: .3s;
}

.rcw-loader-dots:nth-child(3) {
    animation-delay: .4s;
}

@keyframes bounced {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(5px);
    }
}

form.loading {
    opacity: 0.5;
}
